body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
}
.home {
  background-image: url(https://i.imgur.com/gleoXL6.jpg);
  background-position-x: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 90px;
  position: absolute;
  left: 0;
  z-index: -1;
  top: 0;
}

.home-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

h1 {
  margin-left: 5%;
}

h2 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(0, 0, 0, 0.151);
  color: black;
  z-index: 1;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
  display: flex;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.cart-number {
  margin-left: 15px;
  text-decoration: none;
}

.small-img {
  width: 150px;
  height: auto;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-bottom: 10%;
}

.hoodie-image {
  width: 400px;
  height: 400px;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
}

.empty-img {
  width: 400px;
  height: auto;
  align-self: center;
  margin-top: 25px;
}
