body {
  margin: 0;
  font-family: Futura, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  font-weight: 200;
  font-style: normal;
  color: rgb(88, 88, 88);
}

.fancy-text {
  color: black;
  font: 1000 80px "Cookie", Helvetica, sans-serif;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

html {
  position: relative;
  min-height: 100%;
}

button {
  font-family: Futura, sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 11px;
  background-color: black;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  width: 13em;
}

input {
  border: none;
  width: 2.5em;
  color: rgb(88, 88, 88);
}

.home {
  background-position-x: center;
  background-size: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  left: 0;
  z-index: -1;
  top: 0;
}
.welcome {
  padding-top: 100px;
}

.home-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 70vh;
  flex-flow: wrap;
  font-size: 70px;
}

h1 {
  margin-left: 5%;
  color: black;
}

h2 {
  text-align: center;
  color: black;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.151);
  color: black;
  z-index: 1;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
  display: flex;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.cart-number {
  margin-left: 15px;
  text-decoration: none;
}

.small-img {
  width: 150px;
  height: auto;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-bottom: 10%;
}

.hoodie-image {
  width: 400px;
  height: 400px;
}
.hoodies-container {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
}

.hoodie-name,
.hoodie-price {
  margin-top: 3px;
  margin-bottom: 3px;
}

.hoodies {
  font-size: 14px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
}

.empty-img {
  width: 400px;
  height: auto;
  align-self: center;
  margin-top: 25px;
}
